{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ controller_name }}</h1>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans %}Picture{% endtrans %}</th>
                    <th>{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Leader name{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td><img src="{{ asset('images/leaders/' ~ game.leader.image) }}" class="img-fluid"></td>
                        <td>{{ game.gameDate ? game.gameDate|date('d-m-Y H:i:s') : '' }}</td>
                        <td>{{ game.leader.name }}</td>
                        <td>
                            <a href="{{ path('game_show', {'id': game.id}) }}">{% trans %}show{% endtrans %}</a>
                            <a href="{{ path('game_edit', {'id': game.id}) }}">{% trans %}edit{% endtrans %}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}No records{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('game_new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
